<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175477678089-od86aqbfi85tjcpbqna0pcdb2ae4iqa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175477678089-od86aqbfi85tjcpbqna0pcdb2ae4iqa6</string>
	<key>API_KEY</key>
	<string>AIzaSyBXX7ZjT7gx3XwNkVLHduYeCK0P_pbf1B0</string>
	<key>GCM_SENDER_ID</key>
	<string>175477678089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nanoappTheWall</string>
	<key>PROJECT_ID</key>
	<string>walltutorial-e9506</string>
	<key>STORAGE_BUCKET</key>
	<string>walltutorial-e9506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175477678089:ios:eb789d23d2f779b5b4d8d8</string>
</dict>
</plist>